{% extends "base.html" %}
{% load i18n %}
{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

<div class="container mx-auto pb-10">
    <div class="rounded-3xl bg-gray-800 h-50vh mt-32 mb-24 bg-cover bg-center"
        style="background-image:url(https://images.unsplash.com/photo-1603852452515-2dc92bd9c6f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop)">

    </div>

    <div class="flex flex-wrap">
        {% for room in rooms %}
        {% include "mixins/room_card.html" with room=room %}
        {% endfor %}
    </div>

    <div class="flex flex-col items-center justify-center mx-auto container">
        <div>
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-left fa-lg"></i>
            </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">
                {% blocktranslate with current_page=page_obj.number total_pages=page_obj.paginator.num_pages trimmed %}
                Page {{current_page}} of {{total_pages}}
                {% endblocktranslate %}
            </span>

            {% if page_obj.has_next %}
            <a href=" ?page={{page_obj.next_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-right fa-lg"></i>
            </a>
            {% endif %}
        </div>
        <div class="pt-2">
            {% for page in page_obj.paginator.page_range %}
            <a href="?page={{page}}" {% if page is page_obj.number %}class="font-medium" {% endif %}>{{page}}</a>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}